<!doctype html>
<html>
    <head>
        <title>BLOGZ</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
<body>
    <a href='/' name='home'>Home</a>
    <a href='/blog' name='allposts'>All Posts</a>
    <a href='/newpost' name='newpost'>Add Post</a> &nbsp;
    <a href='/login' name='login'>Login</a>
    <a href='/logout' name='logout'>Logout</a>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    
    {% endblock %}

</body>
</html>